.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #282828;
    color: white;
  }
  
  .navbar__logo img {
    height: 60px;
  }
  
  .navbar__search {
    display: flex;
    flex: 1;
    max-width: 600px;
    margin: 0 20px;
  }
  
  .navbar__search input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
  }
  
  .navbar__search button {
    padding: 10px 20px;
    border: none;
    background-color: #303030;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .navbar__icons {
    display: flex;
    align-items: center;
  }
  
  .navbar__icons > * {
    margin-left: 20px;
    cursor: pointer;
    font-size: 24px;
    color: white;
  }
  

  .navbar__categories {
    display: flex;
    gap: 10px;
    margin-left: 20px;
  }
  
  .category-button {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .category-button:hover {
    background-color: #555;
  }
  